doctype html
html(lang="en" class="wf-loading")
	include head.jade
	include scripts.jade
	body
		header
			div(class='full-width')
				div(class='header-branding')
					a(class='header-branding' href='#') 
						span(class='header-branding-name').
							BRADY O'HALLORAN
						span(class='header-branding-title').
							CREATIVE/TECH GUY
				nav(class='navbar navbar-default', role='navigation')
					div(class='container-fluid')
						div(class='navbar-header')
							button(type='button', class='navbar-toggle collapsed', data-toggle='collapse' data-target='#header-menu')
								span(class='sr-only') Toggle navigation
								span(class='icon-bar')
								span(class='icon-bar')
								span(class='icon-bar')

						div(class='collapse navbar-collapse' id='header-menu')
							ul(class='nav navbar-nav')
								li
									a(href='#' id='nav-about' data-toggle='collapse' data-target='#header-menu') ABOUT ME
								li
									a(href='#' id='nav-experience' data-toggle='collapse' data-target='#header-menu') EXPERIENCE
								li
									a(href='#' id='nav-work' data-toggle='collapse' data-target='#header-menu') WORK
								li
									a(href='#' id='nav-contact' data-toggle='collapse' data-target='#header-menu') CONTACT

		div(id='feature-1' class='feature')
			div(class='feature-image')
				div(class='parallax-bg')
				div(class='feature-image-headline')
					- var headline='Brady O\'Halloran is a giant nerd.'
					div(class='feature-image-headline-text') #{headline}
					div(class='feature-image-headline-shadow') #{headline}
			div(class='feature-copy')
				div(class='feature-copy-inner')
					:markdown
						#I like to make cool things with computers and occasionally talk about myself in the third-person.
						
						Ever since getting my first PC at age 11, I've been designing and coding in some way. In that time I've designed and built countless websites, CD-ROMs and online games for a huge variety of clients, large and small.

						My primary focus is client and server-side development for the web, but as you can see below, I often branch out into other areas of digital. 

						I'm an avid consumer of movies, TV and books, and a life-long gamer. I love to build cool things and always learn new things along the way.

		div(id='feature-2' class='feature')
			div(class='feature-image')
				div(class='parallax-bg')
				div(class='feature-image-headline') 
					- var headline='I worked at Amnesia / Razorfish Australia for the last fifteen years.'
					div(class='feature-image-headline-text') #{headline}
					div(class='feature-image-headline-shadow') #{headline}

			div(class='feature-copy')
				div(class='feature-copy-inner')
					:markdown
						#In that time I worked on dozens of projects for major international clients as a <div class='text-roller'></div>

						Over fifteen years I saw Amnesia grow from a small team of about a dozen, into what it is today as Razorfish Australia. Though I've been at ostensibly the same company over that period, my role has constantly changed as the projects got bigger, crazier and more ambitious.

						Though initially starting as a Senior Designer, I quickly moved into other roles including:					

						* Design
						* Motion-design
						* Video editing
						* 3D modelling
						* Front-end development
						* Back-end development
						* Flash development
						* Mobile development
						* Team leadership
						* Project management
						* Creative technology
						* Creative direction
						* Client relations
						* Server administration
						* On-site installation
						* Trouble-shooting

						I have varying proficiency in the following tools and technologies:

						* HTML5/CSS
						* Markdown
						* Sass/Less
						* Jade/Slim
						* Gulp/Grunt
						* NodeJS
						* JavaScript/Coffeescript
						* AngularJS
						* Ruby
						* Padrino
						* PHP
						* Grunt
						* Flash/Actionscript
						* Native iOS Dev (Xcode)
						* Objective-C
						* Ubuntu

						I'm always picking up new technologies, practices and ideas. My M.O. is to find something cool, play around with it, learn it and do it - often all at the same time.

						For an example of how I like to build things, check out the [Github repo of this site](https://github.com/bradyohalloran/bradyohalloran-dot-com).

		div(id='feature-3' class='feature')
			div(class='feature-image')
				div(class='parallax-bg')
				div(class='feature-image-headline') 
					- var headline='I\'ve seen things you people wouldn\'t believe...'
					div(class='feature-image-headline-text') #{headline}
					div(class='feature-image-headline-shadow') #{headline}

			div(class='feature-copy')
				div(class='feature-copy-inner')
					:markdown
						#Attack ships on fire off the shoulder of Orion. I watched c-beams glitter in the dark near the Tannh&auml;user Gate. 

						OK, these I haven't actually seen these things, but due to the shifting nature of the web, most of the projects I have worked are no longer live and have been lost [like tears in rain](https://www.youtube.com/watch?v=NoAzpa1x7jU).

						Despite my focus being front and back-end development, the following three projects are some of the most interesting and challenging that I've worked on. All of them required me to step outside my comfort area and learn quickly.

			div(class='feature-copy work-example work-example-1')
				div(class='feature-copy-inner')
					:markdown
						#Qantas You Interactive Billboard

						![](images/work-qantas-you-1.jpg)

						When Qantas relaunched their brand in 2012, Razorfish Australia and Publicis Mojo launched the [Qantas You Campaign](http://judgeshavefeelingstoo.com/qantasyou/). As part of that, we wanted to support the online activity with an installation in a public space that showed people something they haven't seen before.

					div(class='work-example-column work-example-column-left')
						:markdown
							![](images/work-qantas-you-2.jpg)

							![](images/work-qantas-you-3.jpg)

					div(class='work-example-column work-example-column-right')
						:markdown
							Partnering with Adshel, we produced a set of digital billboards that responded to users nearby running the Qantas You app on their phones.

							Users registered with the campaign, standing nearby were inserted into the billboard display just by being in close proximity.

							I was technical lead on this project and was responsible for managing the designers and developers, liasing with Adshel and assisting with the installation in Town Hall Station.

							[B and T produced a video](https://www.youtube.com/watch?v=oCte4HKxfhQ) showing the billboard in action.



			div(class='feature-copy work-example work-example-2')
				div(class='parallax-bg')
				div(class='feature-copy-inner')
					:markdown
						#Samsung Stadium: Sochi Winter Olympics

						![](images/work-samsung-stadium-1.jpg)

						To celebrate the 2014 Winter Olympic Games at Sochi, we helped Samsung bring Roy and HG back to the Olympic coverage game. The Samsung Stadium app for iOS and Android was the only way to get daily shows from Roy and HG covering every day of the Games.

						This was my first start-to-finish iOS app, built in just three weeks (with zero overtime). The app pulled in news stories, conducted polls and gave access to all of Roy and HGs video content throughout the Games. In addition to the development, I also worked closely with the designers to ensure that the app adhered to Apple design guidelines.

						I was also responsible for building the video production pipeline where video files were uploaded directly by Channel Ten, processed by Amazon Elastic Transcoder into multiple adaptive bitrate video stream files and then deposited back into our Cloud hosting for delivery into the apps. 

						In order to facilitate remote management of the transcoding process, I produced a set of command line tools in Ruby that allowed us to remotely start the rendering process and monitor the rendering progress. These tools saved us hours of manual rendering, downloading and uploading.



			div(class='feature-copy work-example work-example-3')
				div(class='parallax-bg')
				div(class='feature-copy-inner')
					:markdown
						#Samsung Paragon In-store Display

						![](images/work-samsung-paragon-1.jpg)

						When Samsung wanted to make their in-store presence stand out among the competition, they asked Razorfish to build an eye-catching, engaging and above-all, useful interactive display.

						We designed and developed the Paragon display &mdash; an interative touch-screen experience that can work with up to eight full-HD displays from just one controller PC.

					div(class='work-example-column work-example-column-left')
						:markdown
							![](images/work-samsung-paragon-2.jpg)

					div(class='work-example-column work-example-column-right')
						:markdown
							Built entirely with open-source software, Paragon accepted input from up to eight Samsung Galaxy tablets, allowing users to view demonstration videos, browse the Samsung range and request more information to be sent to their email address or device.

					:markdown
						I was brought into the project, mid-way through development as a technical project manager. My responsibilities were the finalising of the hardware prototype configuration, liasing with the installation suppliers and project managing the final development, training and roll-out.

		div(id='feature-4' class='feature')
			div(class='feature-image')
				div(class='parallax-bg')
				div(class='feature-image-headline') 
					- var headline='Jeff Goldblum is my spirit animal.'
					div(class='feature-image-headline-text') #{headline}
					div(class='feature-image-headline-shadow') #{headline}

			div(class='feature-copy')
				div(class='feature-copy-inner')
					:markdown
						#"Your scientists were so preoccupied with whether or not they could that they didn't stop to think if they should."

						That quote, has always been my favourite line from Jurassic Park<sup>*</sup> and in the course of my career I've found myself quoting it time and time again when seeing the bizarre solutions some agencies provide their clients. It frustrates me when I see projects being delivered in order to demonstrate a capability, win an award or flex a creative muscle, despite being completely wrong for the client.

						It's always fun to work for a big brand, but the thing that excites me the most is building something SMART in the cleanest, most efficient way possible. It doesn't matter who the client is &mdash; if it answers the brief and it's built well, I'm proud of it. This is what drives me, along with the desire to constantly learn and improve.

						I want to build smart, clean, beautiful sites and applications. I want to do what's right by the client and the team I'm working with.

						If you think this sounds like someone you'd want to work with, I'm open to any suggestion &mdash; freelance, contract, part or full-time.

						Feel free to email me at *bradyohalloran at gmail dot com*. I'm always happy to have a coffee and a chat.

					div(class='feature-text-footnote')
						:markdown
							*Except, perhaps for "Clever girl."

		footer
			div(class='copyright-line')
				:markdown
					* <a href="https://au.linkedin.com/in/bradyohalloran"><i class="fa fa-linkedin-square"></i></a>
					* <a href="https://twitter.com/bradyohalloran"><i class="fa fa-twitter"></a></i>
					* <a href="https://instagram.com/bradyohalloran/"><i class="fa fa-instagram"></a></i>
					* <a href="https://github.com/bradyohalloran/"><i class="fa fa-github"></a></i>

					Site ingredients: HTML5, CoffeeScript, SASS, Jade and Gulp

					Unless shamelessly stolen from a film, all content is &copy; Copyright 2015 Brady O'Halloran
